<launch>
<arg name="mode-play" default="true" />
    <group if="$(arg mode-play)">
        <node pkg="miro_attachment" type="play2.py" name="play" output="screen">
        </node>
    </group>
    <group unless="$(arg mode-play)">
        <node pkg="miro_attachment" type="approach.py" name="approach" output="screen">
        </node>
    </group>
</launch>